Repository multiversx/mx-api-service, pull requests merged in 2022-11, with the labels that each got.

#879 Token can transfer flag
  src/endpoints/collections/collection.service.ts
  src/endpoints/collections/entities/nft.collection.ts
  src/endpoints/tokens/entities/collection.roles.ts
  src/graphql/schema/schema.gql
  src/utils/token.helpers.ts
Labels: feature

#880 Save metadata errors
  src/endpoints/nfts/nft.extendedattributes.service.ts
  src/test/integration/services/nft.extendedattributes.e2e-spec.ts
Labels: feature

#875 apply supply attribute to account/:account/nfts only for SemiFungibleEsdt and MetaEsdt
  src/endpoints/nfts/nft.service.ts
  src/test/integration/controllers/nfts.controller.e2e-spec.ts
  src/test/integration/services/nft.e2e-spec.ts
Labels: test, refactoring

#867 Migrate nestjs to v9
  .github/workflows/unit.tests.yml
  package-lock.json
  package.json
  src/main.ts
  src/test/integration/api/tags.api-spec.ts.ts
  src/utils/dynamic.module.utils.ts
Labels: feature

#881 fix API/Graphql collection spec test
  src/test/integration/controllers/collections.controller.e2e-spec.ts
  src/test/integration/graphql/collections,graph-spec.ts
  src/test/integration/services/collections.e2e-spec.ts
Labels: test, refactoring

#888 video/mpeg mime type
  src/endpoints/nfts/entities/media.mime.type.ts
  src/test/integration/services/api.config.e2e-spec.ts
  src/test/integration/services/network.e2e-spec.ts
Labels: test, refactoring

#891 use DappConfig type instead of any
  src/endpoints/dapp-config/dapp.config.controller.ts
  src/endpoints/dapp-config/dapp.config.service.ts
  src/graphql/entities/dapp.config/dapp.config.query.ts
  src/test/integration/services/dapp.config.e2e-spec.ts
  src/test/integration/services/network.e2e-spec.ts
Labels: test, refactoring

#885 graphql e2e tokens tests
  src/test/integration/graphql/tokens.graph-spec.ts
Labels: test

#898 Add missing collection properties
  src/endpoints/collections/collection.service.ts
  src/endpoints/collections/entities/nft.collection.ts
  src/graphql/schema/schema.gql
  src/test/integration/controllers/collections.controller.e2e-spec.ts
  src/test/integration/graphql/collections,graph-spec.ts
Labels: feature

#788 Add batch transactions endpoints
  config/config.devnet.yaml
  config/config.mainnet.yaml
  config/config.testnet.yaml
  package-lock.json
  package.json
  src/common/api-config/api.config.service.ts
  src/common/pubsub/pub.sub.listener.controller.ts
  src/common/websockets/web-socket-publisher-service.ts
  src/crons/transaction.processor/batch.transaction.processor.module.ts
  src/crons/transaction.processor/batch.transaction.processor.service.ts
  src/endpoints/endpoints.controllers.module.ts
  src/endpoints/endpoints.services.module.ts
  src/endpoints/transactions.batch/entities/batch.transaction.status.ts
  src/endpoints/transactions.batch/entities/transaction.batch.group.ts
  src/endpoints/transactions.batch/entities/transaction.batch.item.ts
  src/endpoints/transactions.batch/entities/transaction.batch.simplified.result.ts
  src/endpoints/transactions.batch/entities/transaction.batch.simplified.ts
  src/endpoints/transactions.batch/entities/transaction.batch.status.ts
  src/endpoints/transactions.batch/entities/transaction.batch.ts
  src/endpoints/transactions.batch/entities/transaction.details.ts
  src/endpoints/transactions.batch/entities/transaction.details.with.result.ts
  src/endpoints/transactions.batch/entities/transaction.ts
  src/endpoints/transactions.batch/transactions.batch.controller.ts
  src/endpoints/transactions.batch/transactions.batch.module.ts
  src/endpoints/transactions.batch/transactions.batch.service.ts
  src/main.ts
  src/test/integration/controllers/results.controller.e2e-spec.ts
  src/utils/cache.info.ts
  tsconfig.json
Labels: feature
