Repository multiversx/mx-api-service, pull requests merged in 2024-12, with the labels that each got.

#1381 API-72: first integration of chain simulator
  .github/workflows/chain-simulator-e2e-tests.yml
  .github/workflows/load-tests.yml
  .gitignore
  config/config.e2e.mainnet.yaml
  package.json
  src/common/assets/assets.service.ts
  src/common/keybase/keybase.service.ts
  src/endpoints/accounts/account.controller.ts
  src/endpoints/nfts/entities/nft.sub.type.ts
  src/endpoints/tokens/entities/token.filter.ts
  src/endpoints/tokens/entities/token.ts
  src/endpoints/tokens/token.controller.ts
  src/endpoints/tokens/token.service.ts
  src/endpoints/transactions/transaction.controller.ts
  src/endpoints/transfers/transfer.controller.ts
  src/test/chain-simulator/blocks.cs-e2e.ts
  src/test/chain-simulator/collections.cs-e2e.ts
  src/test/chain-simulator/config/.env.example
  src/test/chain-simulator/config/env.config.ts
  src/test/chain-simulator/docker/docker-compose.yml
  src/test/chain-simulator/docker/overridable-config.toml
  src/test/chain-simulator/miniblocks.cs-e2e.ts
  src/test/chain-simulator/network.cs-e2e.ts
  src/test/chain-simulator/results.cs-e2e.ts
  src/test/chain-simulator/rounds.cs-e2e.ts
  src/test/chain-simulator/tokens.cs-e2e.ts
  src/test/chain-simulator/utils/chain.simulator.operations.ts
  src/test/chain-simulator/utils/test.utils.ts
  src/test/jest-chain-simulator.json
  src/test/unit/services/tokens.spec.ts
Labels: feature, test

#1407 Create stake.cs-e2e.ts
  src/test/chain-simulator/stake.cs-e2e.ts
Labels: chain-simulator-tests

#1405 Create hello.cs-e2e.ts
  src/test/chain-simulator/hello.cs-e2e.ts
Labels: chain-simulator-tests

#1404 Create delegation-legacy.cs-e2e.ts
  src/test/chain-simulator/delegation-legacy.cs-e2e.ts
Labels: chain-simulator-tests

#1409 Create accounts.cs-e2e.ts
  package-lock.json
  package.json
  src/test/chain-simulator/accounts.cs-e2e.ts
  src/test/chain-simulator/docker/docker-compose.yml
  src/test/chain-simulator/tokens.cs-e2e.ts
  src/test/chain-simulator/utils/contracts/ping-pong-egld.wasm
  src/test/chain-simulator/utils/test.utils.ts
  src/test/chain-simulator/utils/testSequencer.js
  src/test/jest-chain-simulator.json
  tsconfig.json
Labels: chain-simulator-tests

#1412 Create dapp.config.cs-e2e.ts
  src/test/chain-simulator/dapp.config.cs-e2e.ts
Labels: chain-simulator-tests

#1406 Create shards.cs-e2e.ts
  src/test/chain-simulator/shards.cs-e2e.ts
Labels: chain-simulator-tests

#1414 API-334: add option to include relayed sc results
  src/common/indexer/elastic/elastic.indexer.helper.ts
  src/common/indexer/elastic/script.query.ts
  src/endpoints/accounts/account.controller.ts
  src/endpoints/collections/collection.controller.ts
  src/endpoints/nfts/nft.controller.ts
  src/endpoints/tokens/token.controller.ts
  src/endpoints/transactions/entities/transaction.filter.ts
  src/endpoints/transactions/transaction.controller.ts
Labels: feature

#1410 Update accounts.cs-e2e.ts
  src/test/chain-simulator/accounts.cs-e2e.ts
Labels: chain-simulator-tests

#1413 Create events.cs-e2e.ts
  src/test/chain-simulator/events.cs-e2e.ts
Labels: chain-simulator-tests

#1411 Create identities.cs-e2e.ts
  src/test/chain-simulator/applications.cs-e2e.ts
  src/test/chain-simulator/identities.cs-e2e.ts
  src/test/chain-simulator/transactions.cs-e2e.ts
Labels: chain-simulator-tests

#1415 Create websocket-config.cs-e2e.ts
  src/test/chain-simulator/websocket-config.cs-e2e.ts
Labels: chain-simulator-tests

#1418 added more cs tests
  .github/workflows/chain-simulator-e2e-tests.yml
  package.json
  src/test/chain-simulator/accounts.cs-e2e.ts
  src/test/chain-simulator/applications.cs-e2e.ts
  src/test/chain-simulator/blocks.cs-e2e.ts
  src/test/chain-simulator/collections.cs-e2e.ts
  src/test/chain-simulator/dapp.config.cs-e2e.ts
  src/test/chain-simulator/delegation-legacy.cs-e2e.ts
  src/test/chain-simulator/delegation.cs-e2e.ts
  src/test/chain-simulator/events.cs-e2e.ts
  src/test/chain-simulator/hello.cs-e2e.ts
  src/test/chain-simulator/identities.cs-e2e.ts
  src/test/chain-simulator/miniblocks.cs-e2e.ts
  src/test/chain-simulator/network.cs-e2e.ts
  src/test/chain-simulator/nfts.cs-e2e.ts
  src/test/chain-simulator/pool.cs-e2e.ts
  src/test/chain-simulator/results.cs-e2e.ts
  src/test/chain-simulator/rounds.cs-e2e.ts
  src/test/chain-simulator/shards.cs-e2e.ts
  src/test/chain-simulator/stake.cs-e2e.ts
  src/test/chain-simulator/tags.cs-e2e.ts
  src/test/chain-simulator/tokens.cs-e2e.ts
  src/test/chain-simulator/transactions.cs-e2e.ts
  src/test/chain-simulator/utils/chain.simulator.operations.ts
  src/test/chain-simulator/utils/prepare-test-data.ts
  src/test/chain-simulator/utils/testSequencer.js
  src/test/chain-simulator/websocket-config.cs-e2e.ts
Labels: chain-simulator-tests

#1416 Create nodes.cs-e2e.ts
  src/test/chain-simulator/nodes.cs-e2e.ts
Labels: chain-simulator-tests

#1427 check for remainingUnbonPeriod null response
  src/endpoints/keys/keys.service.ts
Labels: bugfix
